
<section class="body_show">
<h1><%= @event.name %></h1>
<%= image_tag @event.image_url, size: "250x250" %>

<p>Date: <%= @event.date %></p>
<p>Genre: <%= @event.genre %></p>
<p>Maximum amount of visitors: <%= @event.capacity %></p>

<%= link_to "Book now", new_visitor_path %>
</section>
