<h1><%= @event.name %></h1>

<%= image_tag @event.image_url %>

<p>Date: <%= @event.date %></p>
<p>Genre: <%= @event.genre %></p>
<p>Maximum amount of visitors: <%= @event.capacity %></p>

#nog aanpassen naar visitor
<%= link_to "Book now", new_visitor_path %>
