<h1><%= @visitor.first_name %> <%= @visitor.last_name %></h1>

<%= link_to "[Edit]",
edit_visitor_path(@visitor.id) %>



<p>Age: <%= @visitor.age %></p>
<%= image_tag @visitor.image_url %>


<p><%= @visitor.event.name %></p>
<%= image_tag @visitor.event.image_url %>
