<h1><%= @visitor.first_name %> <%= @visitor.last_name %></h1>



<p>Age: <%= @visitor.age %></p>
<%= image_tag @visitor.image_url %>


<p><%= @visitor.event.name %></p>
<%= image_tag @visitor.event.image_url %>
