<!DOCTYPE html>
<html>
  <head>
    <title>EventManager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="banner">
  <img src="http://i.imgur.com/Ib1f32i.jpg">
</div>

  <body>
    <% flash.each do |key,value| %>
    <div class="alert alert-<% key %>"><%= value %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
